bs4
chromadb
dacite
jsonlines
langchain
langchain_community
markdown
openai
openpyxl
pandas
pickledb
rank_bm25
rouge
sentence-transformers
tabulate
torch
tqdm
transformers
unstructured
word2number
pymongo
argparse
firecrawl-py
langchain_text_splitters
pdfplumber
pymilvus~=2.3.2
openai
numpy
tqdm
termcolor
fastapi
uvicorn
pydantic-settings
colorama
datasets
flask-cors
pyyaml
tiktoken
auto_gpt_plugin_template
gtts~=2.4.0
GitPython
python-docx 
PyPDF2 
pandas 
openpyxl 
tabulate
beautifulsoup4

